.--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.--flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.--padding-block-05 {
    padding-block: var(--padding-narrowly);
}

.--padding-block-1 {
    padding-block: var(--padding-normal);
}

.--padding-inline-05 {
    padding-inline: var(--padding-narrowly);
}

.--padding-inline-1 {
    padding-inline: 0 var(--padding-normal);
}

.--gap-05 {
    gap: var(--spacing-narrowly);
}

.--gap-1 {
    gap: var(--spacing-normal);
}