/*flexbox*/

.--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.--flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*padding*/

.--padding-block-large {
    padding-block: var(--padding-large);
}

.--padding-block-narrowly {
    padding-block: var(--padding-narrowly);
}

.--padding-block-normal {
    padding-block: var(--padding-normal);
}

.--padding-inline-large {
    padding-block: var(--padding-large);
}

.--padding-inline-narrowly {
    padding-inline: var(--padding-narrowly);
}

.--padding-inline-normal {
    padding-inline: 0 var(--padding-normal);
}

/*gap*/

.--gap-spacing-large {
    gap: var(--spacing-large);
}

.--gap-spacing-normal {
    gap: var(--spacing-normal);
}

.--gap-spacing-narrowly {
    gap: var(--spacing-narrowly);
}