/*flexbox*/
.--flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.--flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.--flex-column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.--flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.--inline-block {
    display: inline-block;
}

.--block {
    display: block;
}

/*padding*/

.--padding-narrowly {
    padding-left: var(--padding-narrowly);
}

.--padding-normal {
    padding: var(--padding-normal);
}

.--padding-large {
    padding: var(--padding-large);
}

.--padding-block-large {
    padding-block: var(--padding-large);
}

.--padding-block-narrowly {
    padding-block: var(--padding-narrowly);
}

.--padding-block-normal {
    padding-block: var(--padding-normal);
}

.--padding-inline-large {
    padding-inline: var(--padding-large);
}

.--padding-inline-narrowly {
    padding-inline: var(--padding-narrowly);
}

.--padding-inline-normal {
    padding-inline: var(--padding-normal);
}

/*gap*/

.--gap-large {
    gap: var(--spacing-large);
}

.--gap-normal {
    gap: var(--spacing-normal);
}

.--gap-narrowly {
    gap: var(--spacing-narrowly);
}

.--link {
    text-decoration: none;
}

.--highlight {
    font-weight: 400;
    padding-block-end: .2rem;
    color: var(--color-text-secondary);
    border-block-end: 2px solid var(--color-border-secondary);
}