:root {
    /* Tipografía */
    --font-family-base: "Poppins", "Helvetica Neue", sans-serif;
    --font-size-large: 1.6rem;
    --font-size-medium: 1.4rem;
    --font-size-normal: 1rem;
    --font-size-small: .8rem;

    /* Layout */
    --spacing-large: 2rem;
    --spacing-normal: 1rem;
    --spacing-narrowly: .5rem;

    --padding-large: 2rem;
    --padding-normal: 1rem;
    --padding-narrowly: .5rem;

    --container-max-width: 1000px;

    /* Colores base */
    --color-text-primary: #000;
    --color-text-secondary: #fff;
    --color-text-tertiary: #8d8d8d;
    --color-text-quaternary: #00BA1E;


    --color-bg-primary: #ffffff;
    --color-bg-secondary: #00BA1E;
    --color-bg-tertiary: #191919;
    --color-bg-quaternary: #f2f2f2;

    --color-border-primary: #8d8d8d;
    --color-border-secondary: #00BA1E;
}